<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Reference</title>
		
		<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
		<link th:href="@{/css/basic.css}" rel="stylesheet">
		
		<script th:src="@{/js/jquery-3.2.1.js}"></script>
		<script th:src="@{/js/bootstrap.js}"></script>
		<script th:src="@{/js/basic.js}"></script>
	</head>
	<body>
		<div class="container">
			<div id="title" class="container">
				<h1>Dev reference</h1>
				<p>An all around resource container for developers</p>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<hr>
					<div class="container">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active">Home</li>
						</ol>
					</div>
					<hr>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-3 col-md-2">
					<nav class="navbar navbar-default" authorityRole="navigation">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
						        aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse">
							<div class="panel-heading">Sidebar22</div>
							<ul class="nav nav-stacked">
								<li class="active"><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</div>
					</nav>
				</div>
				
				<div class="col-sm-9 col-md-8" layout:fragment="main"></div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</body>
</html>
